
#menu-item {
    background-color: #cacaca;
    width: 15em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
    border-radius: 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
}

#menu-item #item-image {
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    height: 13em;
    width: 100%;
    margin-bottom: 2em;
    border-radius: 0.5em;
    /* filter: contrast(0.25); */
}

#menu-item #buy-button {
    transition: transform 0.2s ease-in-out;
    rotate: 0;
    height: 3em;
    width: 3em;
    top: 12.5em;
    transform: translate(-50%, -12.5em) scale(1);
    position: absolute;
    border-radius: 5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(236, 151, 95);
    box-shadow: 0px 0px 0px 3px #cacaca;
    cursor: pointer;
    transform: rotate(0) scale(1);
    /* box-shadow: 0px 0px 0px 3px #cea1a1; */
}



@keyframes buybuttonhover {
    0% {
        transform: scale(1) rotate(0);
    }

    33% {
        transform: rotate(15deg) scale(1 + (0.1 * 33/66));
    }

    40% {
        transform: rotate(15deg) scale(1 + (0.1 * 40/66));
    }

    66% {
        transform: rotate(-15deg) scale(1.1);
    }

    100% {
        transform: rotate(0) scale(1.1);
    }
}

#menu-item #buy-button:hover {

    animation: buybuttonhover 0.3s ease-in-out forwards;
}

#menu-item #buy-button:hover h1 {
    transition: 0.25s;
    transform: scale(1.3);
}

#buy-button h1 {
    transition: 0.25s;
    position: relative;
    bottom: 0.1rem;
    font-size: 2em;
    font-family: sans-serif;
}

#menu-item span,
#menu-item h2,
#menu-item p {
    margin: 0;
    text-align: center;
}

#menu-item #status {
    display: none;
    /* color:red;
    font-weight: 650; */
}